{{define "content"}}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <!-- <p class="lead">Shop Name</p> -->
                <a href="checkout.html">
                <button type="button" class="btn btn-primary btn-lg">Buy Now!</button>
                </a>
            </div>

            <div class="col-md-9">
                

                <div class="thumbnail">
                    
                    <img class="img-responsive" src="img/Charger.jpg" alt="">
                    
                    <h4 class="pull-right">Price: $$$</h4>

                    <div class="caption-full">
                        <h4><a href="#">1968 Dodge Charger</a></h4>
                        <p>A beautiful triple black 68 Dodge Charger R/T. Thousands of dollars have been spent on this restoration and it looks great. </p>
                        <p>The engine is a 440 hp (not the original). All the electricals work except the original oil pressure, temperature, and clock. Aftermarket gages have been added. Vintage heat and air has been added, and it works. The pictures are telling the truth, the car looks amazing, the lines on the car are super sharp (expensive black paint job). A true legend amongs retro cars!</p>
                    </div>
                    
                    <!--
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I've alredy ordered another one!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                        </div>
                    </div>

                </div> -->

            </div>

        </div>

    </div>
    <!-- /.container -->

{{end}}