{{define "content"}}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <!-- <p class="lead">Shop Name</p> -->
                <a>
                <button id="BuyButton" type="button" class="btn btn-primary btn-lg" onclick="checkIfLogin('Charger')">Buy Now!</button>
                </a>
            </div>

            <div class="col-md-9">


                <div class="thumbnail">

                    <img class="img-responsive" src="/static/templates/img/Charger.jpg" alt="">

                    <h4 class="pull-right" id="Price"></h4>

                    <h4 class="pull-left" id="UnitsInStock"></h4>

                    <div class="caption-full">
                        <h4><a href="#" id="Name"></a></h4>

                        <p id="Description">
                    </div>
                    <div class="ratings">
                      <div class="text-left">
                        <form id="review-form" action="/addReview/" method="POST" onsubmit="return check_info();" role="form">
                            <input type="hidden" name="cartype" id="cartype" value="charger">
                            <input type="hidden" name="userId" id="userId">
                            <input required="required" type="number" name="Rating" id="Rating" tabindex="1" class="form-control" placeholder="Rating" value="" min="1" max="5">
                            <input required="required" type="text" name="Review" id="Review" tabindex="2" class="form-control" placeholder="Review">
                            <input required="required" type="submit" name="review-submit" id="review-submit" tabindex="4" class="form-control btn btn-register" value="Add a review">
                        </form>
                        <p class="pull-left">Reviews</p>
                          <h4 class="pull-left" id="Product_review"></h4>
                      </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

{{end}}
