<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Exotic Cars</title>

<!-- Bootstrap Core CSS -->
<link href="static/templates/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="static/templates/css/login.css" rel="stylesheet">

</head>

<body onload="getUserCart()">

<div class='container'>
    <div class='row' style='padding-top:25px; padding-bottom:25px;'>
        <div class='col-md-12'>
            <div id='mainContentWrapper'>
                <div class="col-md-8 col-md-offset-2">
                    <h2 style="text-align: center;">
                        Review Your Order & Complete Checkout
                    </h2>
                    <hr/>
                    <a href="/startpage" class="btn btn-info" style="width: 100%;">Add More Products & Services</a>
                    <hr/>
                    <div class="shopping_cart">
                        <form class="form-horizontal" role="form" action="" method="post" id="payment-form">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Review
                                                Your Order</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="items">
                                                <div class="col-md-9">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td colspan="2">

                                                                <b>
                                                                    Your products</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td id="Product_List">

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-3">
                                                    <div style="text-align: center;">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                          </form>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <div style="text-align: center; width:100%;"><a style="width:100%;"
                                                                                        data-toggle="collapse"
                                                                                        data-parent="#accordion"
                                                                                        href="#collapseTwo"
                                                                                        class=" btn btn-success"
                                                                                        onclick="$(this).fadeOut(); $('#payInfo').fadeIn();">Continue
                                            to Billing Information and Payment»</a></div>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Contact
                                            and Billing Information</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>Help us keep your account safe and secure, please verify your billing
                                            information.</b>
                                        <br/><br/>
                                        <form id="order-form" action="/done/" method="POST" onsubmit="return order_check_info();" role="form">
                                              <input type="hidden" name="order_userId" id="order_userId">
                                              <input required="required" type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Confirm Username">
                                              <input required="required" type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                              <input required="required" type="text" id="id_email" name="id_email" tabindex="3" class="form-control" placeholder="Email">
                                              <input required="required" type="text" id="id_name" name="id_name" tabindex="4" class="form-control" placeholder="Full Name">
                                              <input required="required" type="text" id="id_address_line" name="id_address_line" tabindex="5" class="form-control" placeholder="Address">
                                              <input required="required" type="text" id="id_city" name="id_city" tabindex="6" class="form-control" placeholder="City">
                                              <input required="required" type="text" id="id_postalcode" name="id_postalcode" tabindex="7" class="form-control" placeholder="Postalcode">
                                              <input required="required" type="text" id="id_phone" name="id_phone" tabindex="8" class="form-control" placeholder="Phone">
                                              <input type="submit" name="order-submit" id="order-submit" tabindex="9" class="form-control btn btn-success" value="Place order">
                                        </form>

                                        <div style="text-align: left;">
                                          <br>
                                            By submiting this order you are agreeing to our <a href="#">universal
                                                billing agreement</a>, and <a href="#">terms of service</a>.
                                            If you have any questions about our products or services please contact us
                                            before placing this order.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
</div>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/login.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/getCartData.js"></script>

        </body>
    </html>
