<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Something whent wrong</title>

<!-- Bootstrap Core CSS -->
<link href="static/templates/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <p>You are not loggedin. You need to be to be able to buy a car.</p>

  <!-- Script -->
  <script src="static/js/login.js"></script>

  </body>

</html>
