{{define "content"}}

    <!-- Page Content -->
    <div class="container">
    <div class="row">

            <div class="col-md-3">
                <!-- <p class="lead">Shop Name</p> -->
                <a>
                <button id="BuyButton" type="button" class="btn btn-primary btn-lg" onclick="checkIfLogin('Ferrari')">Buy Now!</button>
                </a>
            </div>

            <div class="col-md-9">


                <div class="thumbnail">

                    <img class="img-responsive" src="/static/templates/img/Ferrari.jpg" alt="">

                    <h4 class="pull-right" id="Price"></h4>

                    <h4 class="pull-left" id="UnitsInStock"></h4>

                    <div class="caption-full">
                        <h4><a href="#" id="Name"></a></h4>

                        <p id="Description">
                    </div>

                    <div class="ratings">
                      <div class="text-left">
                        <p class="pull-right">Reviews</p>

                          <h4 id="Product_rating"></h4>

                          <h4 id="Product_review"></h4>
                        </div>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->


{{end}}
