{{define "content"}}

    <!-- Page Content -->
    <div class="container">
    <div class="row">

            <div class="col-md-3">
                <!-- <p class="lead">Shop Name</p> -->
                <a href="../checkout">
                <button type="button" class="btn btn-primary btn-lg">Buy Now!</button>
                </a>
            </div>

            <div class="col-md-9">
                

                <div class="thumbnail">
                    
                    <img class="img-responsive" src="/static/templates/img/Ferrari.jpg" alt="">
                    
                    <h4 class="pull-right" id="Price">Price: $$$</h4>

                    <div class="caption-full">
                        <h4><a href="#" id="Name">White Ferrari 458 Italia</a></h4>
                        
                        <p id="Description">As instruments of pure speed, few cars can touch the 458 Italia and its convertible counterpart, the 458 Spider. Powered by a 562-hp V-8 mated to a seven-speed dual-clutch transmission and riding on an F1-inspired suspension, the mid-engined 458 is as pure a sports car as anything on the road.</p>
                        <p>It looks the part, too, with X-Acto knife styling and an intense, if overwrought, interior. Need to turn up the exclusivity? You’ll want the 458 Speciale or the 458 Speciale A, with 597 hp.</p> 
                    </div>
                    
                    <!--
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I've alredy ordered another one!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                        </div>
                    </div>

                </div> -->

            </div>

        </div>

    </div>
    <!-- /.container -->


{{end}}