{{define "content"}}

<!-- Page Content -->
    <div class="container">

         <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Here you can buy the most exotic cars in the world! Free of charge to the best price!</p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="/showroom/mustang">
                    <img src="/static/templates/img/Mustang.jpg" height="500px" width="800px" alt="">
                    </a>
                    <div class="caption">
                        <h3>Air Force Mustang</h3>
                        <p>The best Ford Mustang!</p>
                        <p>

                            <a href="/showroom/mustang" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="/showroom/charger">
                    <img src="/static/templates/img/Charger.jpg" alt="">
                    </a>
                    <div class="caption">
                        <h3>1968 Dodge Charger</h3>
                        <p>The best Dodge Charger!</p>
                        <p>

                            <a href="/showroom/charger" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="/showroom/camaro">
                    <img src="/static/templates/img/Camaro.jpg" alt="">
                    </a>
                    <div class="caption">
                        <h3>1968 Chevrolet Camaro</h3>
                        <p>The best Chevrolet Camaro!</p>
                        <p>

                            <a href="/showroom/camaro" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="/showroom_nologin/ferrari">
                    <img src="/static/templates/img/Ferrari.jpg" alt="">
                    </a>
                    <div class="caption">
                        <h3>White Ferrari 458 Italia</h3>
                        <p>The best Ferrari!</p>
                        <p>

                            <a href="/showroom/ferrari" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

{{end}}
