<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Exotic Cars</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="/static/templates/css/bootstrap.css" rel="stylesheet">
    <link href="/static/templates/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/templates/css/heroic-features.css" rel="stylesheet">

</head>

<body onload="getUserCart()">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/startpage">Exotic Cars</a>
            </div>
            <div class="pull-right">
                <a type="login-button" onclick="deleteCookie()" href="/" class="btn btn-default navbar-btn " role="button">Sign out</a>
                <a type="checkout" href="/checkout" class="btn btn-default navbar-btn " role="button">Cart</a>
                <!--<a type="checkout" href="checkout.html" class="btn btn-default navbar-btn glyphicon glyphicon-shopping-cart" role="button"></a>-->

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Features -->
        <div class="row text-center">

          {{template "content"}}

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; This Website 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/getCarData.js"></script>
    <script src="/static/js/addToCart.js"></script>
    <script src="/static/js/getCartData.js"></script>
    <script src="/static/js/cookies.js"></script>
        <!-- Latest compiled and minified JavaScript
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

</body>

</html>
